<div class="row">
  <div class="col-lg-8">

       <div class="well" >

         <%= form_for Comment.new, url: blog_comments_path(@post), class: 'new_comment' do |f| %>

             <div class="form-group" id="comment_content">
               <%= f.text_area :content, rows: '3', placeholder: 'write a comment..' %>
             </div>

            <div class="form-group" id="comment_name">
              <%= f.text_field :name , value: cookies[:name], placeholder: 'your name..'%>
            </div>
            <div class="form-group" id="comment_email">
              <%= f.text_field :email , value:cookies[:email], placeholder: 'your email...'%>
            </div>

          <%= f.submit 'Post Comment', class: 'button' %>

         <% end %>
        </div>

        <hr>

        <%= render partial: "comments/comment_content", locals: { comments: comments, post: @post}%>

  </div>

</div>
