<div class="row">

     <div class="col-md-8">

        <% @posts.each do |post| %>

        <h2>
            <%= post.title %>
        </h2>

        <p>
          <% post.tags.each do |tag| %>
            <span class="badge"><%= tag.title %></span>
          <% end %>
        </p>

        <p>
            <span class="glyphicon glyphicon-time"></span>
            Posted on <%= format_date(post.created_at) %>
        </p>
        <hr>

        <!-- <%= MyMarkdown.to_md(post.content) %> -->
        <%= truncate( strip_tags( MyMarkdown.to_md(post.content) ), length: 150)  %>

        <br>
        <br>

        <%= link_to "Read More " , blog_path(post), class: "btn btn-primary"%>
        <br>
        <br>
        <br>

        <% end %>

        <ul class="pager">
            <li class="paginate">
                <%= paginate @posts %>
            </li>
        </ul>
    </div>
    <%= render 'search' %>
</div>
